@using ToDoList.Models;

<h3>Here are all of the items in this category: @Model["category"].GetName()</h3>
<ol>
    @foreach (Item item in @Model["items"])
    {
        <li><a href='/categories/@Model["category"].GetId()/items/@item.GetId()'>@item.GetDescription()</a></li>
    }
</ol>
<p><a href='/categories/@Model["category"].GetId()/items/new'>Add a new item</a></p>
<p><a href='/categories'>Return to category list.</a></p>
<p><a href='/'>Return to Main page</a></p>
<a href='/categories/@Model["category"].GetId()/edit'>Edit this Category</a>
